body {
  font-family: "Carme", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 30px;
}
p {
  text-align: justify;
  color: dimgrey;
}
.highlight {
  color: rgb(255, 81, 0);
}
.width-customisation {
  width: 40%;
  float: left;
  margin-left: 3%;
  padding-left: 5%;
}
.width-customisation img {
  width: 60%;
  padding-left: 15%;
  margin-left: 3%;
}
.top-banner {
  background-image: url("Images/top-banner.png");
  background-repeat: no-repeat;
}
.dream-area {
  background-image: url("Images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 8%;
}
section {
  padding-bottom: 0%;
  height: 400px;
  padding-top: 3%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(255, 165, 123), rgb(255, 84, 45));
  padding: 3px 15px;
  border-radius: 5px;
  color: white;
}
